<mat-toolbar class="space-around">
  <h2 class="mat-h2">Detalhes da Produtividade</h2>
</mat-toolbar>

<mat-card>
  <mat-card-title-group>
    <mat-card-title>Alex</mat-card-title>
    <mat-card-subtitle>Pintor</mat-card-subtitle>
    <img mat-card-sm-image src="https://img2.gratispng.com/20180207/lpq/kisspng-painting-artist-icon-painter-5a7b30f06aae97.536983001518022896437.jpg" >
  </mat-card-title-group>
  <mat-card-content>
    <div>
      <table mat-table [dataSource]="produtividadeDetalhes" matSort>

        <ng-container matColumnDef="servico">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="td-id"> Serviço </th>
          <td mat-cell class="td-id" *matCellDef="let row" > {{row.servico}} </td>
        </ng-container>

        <ng-container matColumnDef="und">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="td-10"> Und </th>
          <td mat-cell *matCellDef="let row" class="td-10"> {{row.und}} </td>
        </ng-container>

        <ng-container matColumnDef="qtde">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="td-profissional" class="td-10"> Quantidade </th>
          <td mat-cell class="td-profissional" *matCellDef="let row" class="td-10">{{row.qtde}}</td>
        </ng-container>

        <ng-container matColumnDef="horas">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="td-profissional" class="td-10"> Horas </th>
          <td mat-cell class="td-profissional" *matCellDef="let row" class="td-10">{{row.horas}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

      </table>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div>Total de Horas: 100</div>
    <div>Percentual em relação a equipe: 70 %</div>
  </mat-card-footer>
</mat-card>

