<mat-toolbar class="space-around">
  <h2 class="mat-h2">Detalhes da Produtividade</h2>
</mat-toolbar>

<mat-card>
  <mat-card-title-group>
    <mat-card-title> {{this.profissional.nome}} </mat-card-title>
    <mat-card-subtitle> {{this.profissional.profissao}} </mat-card-subtitle>
    <img mat-card-sm-image
      src={{this.iconProfissional}} alt="Foto do profissional">
  </mat-card-title-group>
  <mat-card-content>
    <div>
      <table>
        <caption>Serviços Executados</caption>
        <thead>
          <tr>
            <th class="esquerda">Serviço</th>
            <th>Und</th>
            <th>Quantidade</th>
            <th>Horas</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servico of this.produtividadeDetalhes.servicos">
            <td class="esquerda">{{servico.servico}}</td>
            <td>{{servico.und}}</td>
            <td>{{servico.qtde | number:'1.2-2'}}</td>
            <td>{{servico.horas | number:'1.2-2'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div>Total de Horas: {{this.produtividadeDetalhes.totalDeHoras | number:'1.2-2'}}</div>
    <div>Percentual em relação a equipe: {{this.produtividadeDetalhes.percentual*100 | number:'1.0-0'}} %</div>
  </mat-card-footer>
</mat-card>
