mat-card {
  max-width: 80%;
  margin: 2em auto;
}

.mat-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.min-width {
  min-width: 200px;
}

.td-und {
  max-width: 5%;
}

.td-qtde .td-acoes {
  max-width: 10%;
}

.td-descricao {
  max-width: 40%;
}

table {
  width: 100%;
}

.quadro-detalhes {
  border: 1px solid;
  border-color: rgb(177, 177, 177);
  padding: 20px;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}
