.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-h1 {
  font: 400 24px/32px Roboto,"Helvetica Neue", sans-serif;
  letter-spacing: normal;
  margin: 0 0 0px;
}
