<mat-toolbar class="space-around">
  <h2 class="mat-h2">Detalhes da ordem de serviço</h2>
</mat-toolbar>

<mat-card>
  <mat-card-content>

    <mat-list>

      <div mat-subheader>Requisição Manutenção</div>
      <mat-list-item>
        <div mat-line>{{ordemDeServico?.numero}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>

      <div mat-subheader>Descrição</div>
      <div class="descricao">
       {{ordemDeServico?.descricao}}
      </div>
      <mat-divider></mat-divider>

      <div mat-subheader>Profissionais</div>
      <mat-list-item>
        <mat-chip-list *ngFor="let profissional of ordemDeServico?.profissionais">
          <mat-chip>{{profissional.nome}}</mat-chip>
        </mat-chip-list>
      </mat-list-item>
      <mat-divider></mat-divider>

      <div mat-subheader>Serviços</div>
      <div>
        <table mat-table [dataSource]="ordemDeServico.servicos" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="descricao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descricao </th>
            <td mat-cell class="td-id" *matCellDef="let row" > {{row.descricao}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="und">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="td-sm"> Und </th>
            <td mat-cell *matCellDef="let row" class="td-sm"> {{row.und}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="quantidade">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="td-sm"> Quantidade </th>
            <td mat-cell class="td-sm" *matCellDef="let row"> {{row.quantidade}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr *matRowDef="let row; columns: displayedColumns;"  mat-row></tr>

        </table>
      </div>

    </mat-list>

  </mat-card-content>

  <mat-card-actions class="flex-end">
    <button (click)="editar()" mat-raised-button color="primary">Editar</button>
    <button (click)="excluir()" mat-raised-button color="warn">Excluir</button>
  </mat-card-actions>

</mat-card>
