<mat-toolbar class="space-around" >
  <h2 class="mat-h2">Ranking de Produtividade</h2>
</mat-toolbar>
<mat-card>
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Um valor de qualquer coluna " #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="posicao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="td-id"> Posição </th>
        <td mat-cell class="td-id" *matCellDef="let row"> {{row.posicao}} </td>
      </ng-container>

      <ng-container matColumnDef="profissional">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="td-profissional"> Profissional </th>
        <td mat-cell class="td-profissional" *matCellDef="let row">{{row.profissional.nome}}</td>
      </ng-container>

      <ng-container matColumnDef="profissao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="td-profissional"> Profissão </th>
        <td mat-cell class="td-profissional" *matCellDef="let row">{{row.profissional.profissao}}</td>
      </ng-container>

      <ng-container matColumnDef="horas">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Horas de Serviços </th>
        <td mat-cell *matCellDef="let row"> {{row.totalDeHoras | number:'1.2-2'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" (click)="detalhes(row)" mat-row></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Não foram encontrados dados para o filtro"{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</mat-card>
